.navbar-light {
  background-color: linear-gradient(rgba(199, 20, 20, 0.55));
  list-style-type: square;
  font-size: 20px;
  padding-bottom: 0%;
  list-style: none;
  text-align: center;
}

.navbar-light .lista {
  margin-right: 45%;
}

.navbar-light .navbar-nav .me-auto {
  margin-right: 0;
}

.navbar-light .navbar-nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.navbar-light .navbar-nav li .nav-link {
  margin-bottom: 0%;
  color: purple;
  text-decoration: none;
}

.navbar-light .navbar-nav li .nav-link:hover {
  color: #ee7f91;
}

.logo__index {
  border-radius: 30px;
}

/* footer */
.footer-style {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 30px;
  background-color: #740c62;
}

footer {
  color: white;
}

footer h5 {
  margin-bottom: 30px;
  font-weight: 800;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #661530;
}

footer .footer-col {
  margin-bottom: 25px;
}

footer .footer-below {
  padding: 25px;
  padding-top: 25px;
  background-color: red;
}

.contenedor {
  margin-top: 2.5rem;
  font-size: 20px;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #802680;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #802680;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__text {
  text-align: left;
  margin-top: 30px;
  font-size: 25px;
  border-left: 5px;
  padding-left: 2rem;
  color: #802680;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor .pastelera {
  margin-top: 2rem;
  border-radius: 30%;
  display: block;
  margin: 0 auto;
  max-width: 50%;
  width: 80%;
}

.contenedor .titulosPagina {
  margin-top: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.contenedor .listaTortas {
  margin-top: 3rem;
  font-size: 25px;
  color: #802680;
}

body {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 140, 167, 0.55))), url(../imagenes/background.jpg);
  background-image: linear-gradient(rgba(184, 140, 167, 0.55)), url(../imagenes/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 700px) {
  .contenedor__text {
    font-size: 20px;
  }
}

.contenedor {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__title {
  padding-top: 5%;
  padding-bottom: 3%;
  color: purple;
}

.contenedor__text {
  margin-left: 2rem;
  margin-right: 2rem;
  color: purple;
  font-size: 25px;
}

.contenedor .listaTortas {
  padding-top: 5%;
  font-size: 20px;
  color: rebeccapurple;
}

@media screen and (max-width: 700px) {
  .contenedor__text {
    font-size: 20px;
  }
}

.filter-nav {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-success.active {
  color: rebeccapurple;
  background-color: pink;
  border-color: rebeccapurple;
}

.btn-primary {
  color: rebeccapurple;
  background-color: pink;
  border-color: rebeccapurple;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid white;
}

.galeria__title {
  font-size: 5vw;
  color: purple;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.galeria__parrafo {
  font-size: 4vw;
  color: rebeccapurple;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

legend {
  text-align: center;
  font-size: 5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: purple;
  margin-bottom: 30px;
  margin-top: 25px;
}

input {
  border: solid;
  border-color: purple;
  margin: 5px;
}

.contenedor-responsive {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.contenedor-responsive iframe,
.contenedor-responsive object,
.contenedor-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */