@import '../style/paginas/navbar.scss';
@import '../style/paginas/footer.scss';
@import '../style/paginas/sections/index.scss';
@import '../style/paginas/sections/nosotros.scss';
@import '../style/paginas/servicios.scss';
@import '../style/paginas/galeria.scss';
@import '../style/paginas/contacto.scss'
