.navbar-light {
  background-color: white;
  list-style-type: square;
  font-size: 20px;
  padding-bottom: 0%;
  list-style: none;
  text-align: center;
}

.navbar-light .lista {
  margin-right: 45%;
}

.navbar-light .navbar-nav .me-auto {
  margin-right: 0;
}

.navbar-light .navbar-nav li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  text-align: center;
  font-size: 30px;
}

.navbar-light .navbar-nav li .nav-link {
  margin-bottom: 0%;
  color: purple;
  text-decoration: none;
}

.navbar-light .navbar-nav li .nav-link:hover {
  color: #ee7f91;
}

.logo__index {
  border-radius: 30px;
}

/* footer */
.footer-style {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding-top: 30px;
  background-color: white;
}

footer {
  color: #740c62;
}

footer h5 {
  margin-bottom: 20px;
  font-weight: 800;
}

footer .footer-above {
  padding-top: 50px;
  background-color: #661530;
}

footer .footer-col {
  margin-bottom: 25px;
}

footer .footer-below {
  padding: 25px;
  padding-top: 25px;
}

@media screen and (max-width: 700px) {
  .footer-style {
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.contenedor {
  margin-top: 2.5rem;
  font-size: 20px;
  text-align: center;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 2rem;
  margin-right: 2rem;
  color: #c73ec7;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  color: #c73ec7 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__text {
  text-align: left;
  margin-top: 30px;
  font-size: 25px;
  border-left: 5px;
  padding-left: 2rem;
  color: #c73ec7 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor .pastelera {
  margin-top: 2rem;
  border-radius: 30%;
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 60%;
}

.contenedor .titulosPagina {
  margin-top: 2.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

.contenedor .listaTortas {
  margin-top: 3rem;
  font-size: 25px;
  color: #802680;
  list-style-type: none;
}

.carousel-inner {
  margin-top: 15px;
  margin-bottom: 20px;
}

body {
  line-height: 1;
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 61, 73, 0.55))), url(../imagenes/background.jpg);
  background-image: linear-gradient(rgba(80, 61, 73, 0.55)), url(../imagenes/background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

@media screen and (max-width: 700px) {
  .contenedor__text {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 700px) {
  .contenedor .listaTortas {
    font-size: 1.5rem;
    margin-left: 0rem;
  }
}

.contenedor {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor__title {
  padding-top: 5%;
  padding-bottom: 3%;
  color: purple;
}

.contenedor__text {
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  color: purple;
  font-size: 25px;
}

.contenedor .listaTortas {
  display: inline-block;
  background-color: #eec0c6;
  font-size: 20px;
  color: purple;
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  .contenedor__text {
    font-size: 1.2rem;
  }
}

.filter-nav {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.my-1 {
  margin-bottom: 1.25rem !important;
}

.filter-gallery {
  padding-bottom: 30px;
}

.btn-success.active {
  color: rebeccapurple;
  background-color: pink;
  border-color: rebeccapurple;
}

.btn-primary {
  background-color: pink !important;
  border-color: pink !important;
  color: rebeccapurple !important;
}

.btn-success.active:hover {
  color: #f52de4 !important;
  -webkit-box-shadow: 0 4px 16px #f85bd1;
          box-shadow: 0 4px 16px #f85bd1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-color: pink !important;
}

.btn:hover {
  color: #f52de4 !important;
  background-color: pink !important;
  border-color: pink !important;
  -webkit-box-shadow: 0 4px 16px #f85bd1;
          box-shadow: 0 4px 16px #f85bd1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#galeria .col-lg-4 {
  margin: 0 !important;
  padding: 25px;
}

#galeria img {
  width: 100%;
  height: 250px;
}

#galeria img:hover {
  border: 5px solid white;
}

.galeria__title {
  font-size: 5vw;
  color: #c73ec7 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.galeria__parrafo {
  font-size: 30px;
  color: #c73ec7 !important;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

legend {
  text-align: center;
  font-size: 5vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: purple;
  margin-bottom: 30px;
  margin-top: 25px;
}

.fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

input {
  border: solid;
  border-color: purple;
  margin: 5px;
}

.contenedor-responsive {
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.contenedor-responsive iframe,
.contenedor-responsive object,
.contenedor-responsive embed {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 80%;
}

.container {
  width: 50%;
}

.col-md-12 {
  margin-bottom: 0px;
}
/*# sourceMappingURL=main.css.map */