legend {
    text-align: center;
    font-size: 5vw;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: purple;
    margin-bottom: 30px;
    margin-top: 25px;
}

.fieldset{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    border: solid;
    border-color: purple;
    margin: 5px;
}

.contenedor-responsive {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.contenedor-responsive iframe,
.contenedor-responsive object,
.contenedor-responsive embed {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 80%;
}

.col-md-12{
    margin-bottom: 0px;
}