/* footer */

.footer-style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 30px;
    background-color: white
}
footer {
  color: #740c62;;
}
footer h5 {
  margin-bottom: 20px;
  font-weight: 800;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #661530;
}
footer .footer-col {
  margin-bottom: 25px;
}
footer .footer-below {
  padding: 25px;
  padding-top: 25px;
}

@media screen and (max-width: 700px){
  .footer-style{
  font-size:12px;
  padding-top: 5px;
  padding-bottom: 5px;
  }
} 