.filter-nav{
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn-success.active{
    color: rebeccapurple;
    background-color: pink;
    border-color: rebeccapurple;
}
.btn-primary{
    color: rebeccapurple;
    background-color: pink;
    border-color:rebeccapurple;
}
