.contenedor{
    margin-top: 2.5rem;
    font-size: 20px;
    text-align: center;
    object-fit: contain;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(128, 38, 128);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    &__title{
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 30px;
        font-weight: bold;
        color: rgb(128, 38, 128);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    &__text{
        text-align: left;
        margin-top: 30px;
        font-size: 25px;
        border-left: 5px;
        padding-left: 2rem;
        color: rgb(128, 38, 128);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .pastelera{
        margin-top: 2rem;
        border-radius: 30%;
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    .titulosPagina{
        margin-top: 2.5rem;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }
    .listaTortas{
        margin-top: 3rem;
        font-size: 25px;
        color: rgb(128, 38, 128);
    }
}
body{
    line-height: 1;
    min-height: 100vh;
    background-image: linear-gradient(rgba(80, 61, 73, 0.55)),
    url(../imagenes/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 700px){
    .contenedor__text{
    font-size: 1.5em;
    margin-left: 0rem;
    }
}    