.contenedor{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    &__title{
    padding-top: 5%;
    padding-bottom: 3%;
    color: purple;
    }
    &__text{
        margin-left: 2rem;
        margin-right: 2rem;
        color: purple;
        font-size: 25px;
    }
    .listaTortas{
        padding-top: 5%;
        font-size: 20px;
        color: rebeccapurple;
    }
}
@media screen and (max-width: 700px){
    .contenedor__text{
    font-size: 20px;
    }
}   